@page "/"
@using RadiantLounge.ApplicationCore.Services;
@using System.Linq;

<div>
    <h1>Welcome to Radiant Lounge!</h1>
    <p>
	This site is still under construction. Content will be coming soon. Please check back in later.
    </p>
</div>

